<div th:fragment="calendarioLaLigaFragment">
    <section class="resume-section" id="calendarioLaLiga">
        <div class="resume-section-content">
            <h2 class="mb-3 text-center">Calendario La Liga</h2>

            <!-- Contenedor principal -->
            <div id="jornadas-container" class="position-relative">

                <!-- Botón anterior -->
                <button id="prevBtn" class="btn-nav position-absolute top-50 start-0 translate-middle-y">
                    ⬅
                </button>

                <!-- Slides -->
                <div class="jornada-slide" th:each="jornada,iter : ${calendarioLaLigaData}" 
                    th:classappend="${iter.index == 0} ? ' active' : ''">
                    
                    <!-- Nombre jornada -->
                    <h3 class="text-center mb-4" th:text="${jornada.nombre}"></h3>

                    <!-- Partidos -->
                    <div class="row g-3 justify-content-center">
                        <div class="col-md-5" th:each="partido : ${jornada.partidos}">
                            <div class="card shadow-sm border-0 p-3 text-center match-card">
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Equipo local -->
                                    <div class="team d-flex flex-column align-items-center">
                                        <img th:src="${partido.urlHome}" alt="Local" width="40" class="mb-1">
                                    </div>

                                    <!-- Info central -->
                                    <div class="match-info text-center">
                                        <div class="fw-bold small mb-1" th:text="${partido.resultado}"></div>
                                    </div>

                                    <!-- Equipo visitante -->
                                    <div class="team d-flex flex-column align-items-center">
                                        <img th:src="${partido.urlAway}" alt="Visitante" width="40" class="mb-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón siguiente -->
                <button id="nextBtn" class="btn-nav position-absolute top-50 end-0 translate-middle-y">
                    ➡
                </button>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>