<div th:fragment="clasificacionFragment">
    <section class="resume-section" id="clasificacion">
        <div class="resume-section-content">
            <h2 class="mb-3">Clasificación</h2>

            <div th:if="${#lists.isEmpty(clasificacion)}">
                <p class="lead mb-5">No hay datos de clasificación disponibles.</p>
            </div>

            <div th:if="${!#lists.isEmpty(clasificacion)}">
                <!-- Botones de selección -->
                <div class="mb-3">
                    <div class="btn-group" role="group" aria-label="Selector de clasificación">
                        <button id="btnTotal" type="button" class="btn btn-success">Total</button>
                        <button id="btnJornada" type="button" class="btn btn-outline-success">Jornada</button>
                        <button id="btnLive" type="button" class="btn btn-outline-success">Live</button>
                        <button id="btnMes" type="button" class="btn btn-outline-success">Mes</button>
                    </div>
                </div>
                <div id="selectorMesContainer" class="mb-3 d-none">
                    <label for="selectorMes" class="form-label text-success">Selecciona un mes</label>
                    <select id="selectorMes" class="form-select form-select-sm w-auto bg-dark text-white border-success">
                        <option value="" selected disabled>-- Selecciona un mes --</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>                        <option value="1">Enero</option>
                        <option value="12">Diciembre</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                    </select>
                </div>
                <table id="tablaClasificacion" class="table text-white">
                    <thead>
                        <tr class="text-success">
                            <th>Posición</th>
                            <th>Usuario</th>
                            <th class="tipo-total">Puntos</th>
                            <th class="tipo-jornada d-none">Puntos</th>
                            <th class="tipo-live d-none">Puntos</th>
                            <th class="tipo-mes d-none">Puntos</th>
                        </tr>
                    </thead>
                    <!-- tbody live -->
                    <tbody id="tbody" >
                        <tr th:each="c, stat : ${clasificacion}"
                            th:attr="data-userid=${c.userId}, data-username=${c.name}">
                            <td><span th:text="${stat.count}"></span></td>
                            <td th:text="${#strings.capitalize(c.name)}"></td>
                            <td class="tipo-total" th:text="${c.totalPoints}"></td>
                            <td class="tipo-jornada d-none" th:text="${c.totalPointsLastMatchday}"></td>
                            <td class="tipo-live d-none" th:text="${c.livePoints}"></td>
                            <td class="tipo-mes d-none" th:text="${c.livePoints}"></td>
                        </tr>
                    </tbody>

                    <!-- tbody mes -->
                    <tbody id="tbodyMes" class="d-none">
                        <tr th:each="c, stat : ${clasificacion}"
                            th:attr="data-userid=${c.userId}, data-username=${c.name}">
                            <td><span th:text="${stat.count}"></span></td>
                            <td th:text="${#strings.capitalize(c.name)}"></td>
                            <td class="tipo-total" th:text="${c.totalPoints}"></td>
                            <td class="tipo-jornada d-none" th:text="${c.totalPointsLastMatchday}"></td>
                            <td class="tipo-live d-none" th:text="${c.livePoints}"></td>
                            <td class="tipo-mes d-none" th:text="${c.livePoints}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Modal de información del jugador -->
    <div th:replace="~{fragments/plantillaUsuarioModal :: plantillaUsuarioModal}"></div>
</div>