<!-- historialValorModal.html -->
<div th:fragment="historialValorModal">
    <div class="modal fade" id="historialModal" tabindex="-1" aria-labelledby="historialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark text-white p-3">
                <div class="modal-header border-0">
                    <h5 class="modal-title text-success" id="historialModalLabel">Historial de valor</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div id="historialValorJugador" class="text-center">

                        <!-- Nombre -->
                        <div class="mb-3">
                            <h3 id="jugadorNombre" class="text-success mb-1 fs-2"></h3>
                        </div>





                        <p class="text-muted">Cargando historico de valor...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>