<!-- historialValorModal.html -->
<div th:fragment="historialValorModal">
    <div class="modal fade" id="historialModal" tabindex="-1" aria-labelledby="historialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark text-white p-3 text-center">
                <!-- Nombre -->
                <div class="mb-3">
                    <h3 id="Nombre" class="text-success fs-2"></h3>
                    <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3 " data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div>
                    <h5 class="modal-title text-success" id="historialModalLabel">Historial de valor</h5>
                </div>
                <div class="modal-body">
                    <!-- Nombre -->
                    
                    <ul id="historialLista">
                        
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>