<!-- jugadorGeneralModal.html -->
<div th:fragment="jugadorGeneralModal">
    <div class="modal fade" id="jugadorGeneralModal" tabindex="-1" aria-labelledby="jugadorGeneralModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="posicion-titulo" id="jugadorGeneralModalLabel">Información del jugador</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    
                    <!-- Datos jugador alineado -->
                    <div id="infoJugador">
                        <div class="d-flex align-items-center mb-3">
                            <img id="jugadorFoto" src="" alt="Jugador" class="rounded me-3" width="60">
                            <div>
                            <h6 id="jugadorNombre" class="mb-0"></h6>
                            <small id="jugadorClub" class="text-muted"></small>
                            </div>
                        </div>
                        <p><strong>Posición:</strong> <span id="jugadorPosicion"></span></p>
                        <p><strong>Puntos:</strong> <span id="jugadorPuntos"></span></p>
                        <p><strong>Puntos en vivo:</strong> <span id="jugadorLive"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>