<div th:fragment="mercadoFragment">
    <section class="resume-section" id="mercado">
        <div class="resume-section-content">
            <h2 class="mb-3">Mercado de Fichajes</h2>

            <!-- Botones para elegir tipo de vendedor -->
            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de vendedor">
                    <button id="btnMercadoOrdenador" type="button" class="btn btn-success">Ordenador</button>
                    <button id="btnMercadoJugador" type="button" class="btn btn-outline-success">Jugador</button>
                </div>
            </div>

            <!-- Contenedor para mostrar el mercado -->
            <div id="mercadoContainer">
                <!-- Mercado de Ordenador -->
                <div th:if="${#lists.isEmpty(mercadoList)}" id="MercadoOrdenador">
                    <p class="lead mb-5">No hay jugadores en el mercado actualmente.</p>
                </div>
                <div th:if="${!#lists.isEmpty(mercadoList)}" id="MercadoOrdenador">
                    
                    <div th:each="m : ${mercadoList}" th:if="${m.owner == 'Computer'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <!-- Imagen del jugador -->
                                    <img th:src="${m.urlPhoto}" th:attr="data-id=${m.id}" alt="Foto jugador" class="rounded-circle fotoMercado" width="60" height="60" />
                                    
                                    <!-- Logo del club -->
                                    <img th:src="${m.urlPhotoClub}" alt="Logo club" class="club-logo" />

                                    <!-- Barra de puntos -->
                                    <div class="player-points">
                                        <span th:text="${m.puntos}">10</span>
                                    </div>

                                    <!-- Posición -->
                                    <div class="player-position"
                                        th:classappend="' pos-' + ${m.position}">
                                        <span th:text="${m.position}">DF</span>
                                    </div>
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${m.namePlayer}">Nombre del jugador</h5>

                                    <!-- Valor -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(m.price, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                    <!-- Precio minimo -->
                                     <p class="mb-0 text-white-50">
                                        <span class="label-text">Mínimo:</span>
                                        <span th:text="${#numbers.formatInteger(m.recommendedPrice, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                    <!-- Tabla Puntos -->
                                    <div th:id="'jugadorHistoricoPuntos-' + ${m.id}" 
                                        th:data-jugador="${m.namePlayer}" 
                                        class="jugadorHistoricoPuntos mb-0">
                                    </div>
                                    <!-- Tiempo en mercado -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Fin:</span>
                                        <span th:text="${m.remaining} + 'h'"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">
                                <!-- SI YA TENGO OFERTA ACTIVA -->
                                <div th:if="${m.tieneOferta}">
                                    <div class="mb-2 w-100">
                                        <!-- Texto con la oferta actual -->
                                        <p th:id="'oferta-texto-' + ${m.id}" class="text-white-50 mb-1">
                                            Tu oferta: <span th:id="'oferta-valor-' + ${m.id}"
                                                th:text="${#numbers.formatInteger(m.miOferta, 0, 'POINT')}"></span> €
                                        </p>
                                        <!-- Input oculto -->
                                        <input type="text"
                                            th:id="'oferta-input-' + ${m.id}"
                                            class="form-control form-control-sm text-end oferta-edicion d-none"
                                            placeholder="Nueva oferta" />
                                    </div>

                                    <!-- FORMULARIO -->
                                    <form th:action="@{/ofertas/modificar}" method="post" class="mb-2 w-100">
                                        <input type="hidden" name="price" th:value="'oferta-input-' + ${m.id}"/>
                                        <input type="hidden" name="tradableId" th:value="${m.id}" />

                                        <!-- Botón modificar -->
                                        <button type="button"
                                                th:id="'modificar-btn-' + ${m.id}"
                                                class="btn btn-warning btn-sm w-100 text-center"
                                                th:onclick="'activarEdicion(' + ${m.id} + ')'">
                                            Modificar
                                        </button>

                                        <!-- Botón guardar -->
                                        <button type="submit"
                                                th:id="'guardar-btn-' + ${m.id}"
                                                class="btn btn-success btn-sm w-100 text-center d-none"
                                                th:onclick="'guardarOferta(' + ${m.id} + ')'">
                                            Guardar
                                        </button>
                                    </form>

                                    <!-- Botón retirar -->
                                    <form th:action="@{/ofertas/retirar}" method="post" class="w-100 mt-1">
                                        <input type="hidden" name="price" th:value="${m.miOferta}" />
                                        <input type="hidden" name="tradableId" th:value="${m.id}" />
                                        <button type="submit" class="btn btn-danger btn-sm w-100 text-center">
                                            Retirar
                                        </button>
                                    </form>
                                </div>
                                

                                <!-- SI AÚN NO HE HECHO OFERTA -->
                                <div th:if="${!m.tieneOferta}">
                                    <form th:action="@{/ofertas/pujar}" method="post" class="mb-2 w-100">
                                        <div class="mb-2">
                                            <input type="text" class="form-control form-control-sm text-end precio-formateado"
                                                placeholder="€" th:attr="data-valor=${m.recommendedPrice}" />
                                        </div>
                                        <input type="hidden" name="precio" class="precio-real" />
                                        <input type="hidden" name="tradableId" th:value="${m.id}" />
                                        <button type="submit" class="btn btn-success btn-sm w-100 text-center">
                                            Pujar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mercado de jugadores -->
                <div th:if="${#lists.isEmpty(mercadoList)}" id="MercadoJugador">
                    <p class="lead mb-5">No hay jugadores en el mercado actualmente.</p>
                </div>
                <div th:if="${!#lists.isEmpty(mercadoList)}" id="MercadoJugador">
                    
                    <div th:each="m : ${mercadoList}" th:if="${m.owner != 'Computer'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <!-- Imagen del jugador -->
                                    <img th:src="${m.urlPhoto}" th:attr="data-id=${m.id}" alt="Foto jugador" class="rounded-circle fotoMercado" width="60" height="60" />
                                    
                                    <!-- Logo del club -->
                                    <img th:src="${m.urlPhotoClub}" alt="Logo club" class="club-logo" />

                                    <!-- Barra de puntos -->
                                    <div class="player-points">
                                        <span th:text="${m.puntos}">10</span>
                                    </div>

                                    <!-- Posición -->
                                    <div class="player-position"
                                        th:classappend="' pos-' + ${m.position}">
                                        <span th:text="${m.position}">DF</span>
                                    </div>
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${m.namePlayer}">Nombre del jugador</h5>

                                    <!-- Valor -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(m.price, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                    <!-- Precio minimo -->
                                     <p class="mb-0 text-white-50">
                                        <span class="label-text">Mínimo:</span>
                                        <span th:text="${#numbers.formatInteger(m.recommendedPrice, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                    <!-- Tabla Puntos -->
                                    <div th:id="'jugadorHistoricoPuntos-' + ${m.id}" 
                                        th:data-jugador="${m.namePlayer}" 
                                        class="jugadorHistoricoPuntos mb-0">
                                    </div>
                                    <!-- Dueno -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Dueño:</span>
                                        <span th:text="${m.owner}"></span>
                                    </p>
                                    <!-- tiempo en mercado -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Fin:</span>
                                        <span th:text="${m.remaining} + 'h'"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">

                                <!-- SI EL JUGADOR ES MÍO: Solo "Quitar del mercado" -->
                                <form th:if="${m.esMio}" th:action="@{/ofertas/quitar}" method="post" class="w-100">
                                    <input type="hidden" name="tradableId" th:value="${m.id}" />
                                    <button type="submit" class="btn btn-danger btn-sm w-100 text-center">
                                        Quitar de mercado
                                    </button>
                                </form>

                                <!-- SI EL JUGADOR NO ES MÍO: Solo "Pujar" -->
                                <div th:if="${!m.esMio}">
                                    <!-- SI YA TENGO OFERTA ACTIVA -->
                                    <div th:if="${m.tieneOferta}">
                                        <div class="mb-2 w-100">
                                        <!-- Texto con la oferta actual -->
                                        <p th:id="'oferta-texto-' + ${m.id}" class="text-white-50 mb-1">
                                            Tu oferta: <span th:id="'oferta-valor-' + ${m.id}"
                                                th:text="${#numbers.formatInteger(m.miOferta, 0, 'POINT')}"></span> €
                                        </p>
                                        <!-- Input oculto -->
                                        <input type="text"
                                            th:id="'oferta-input-' + ${m.id}"
                                            class="form-control form-control-sm text-end oferta-edicion d-none"
                                            placeholder="Nueva oferta" />
                                        </div>

                                        <!-- FORMULARIO -->
                                        <form th:action="@{/ofertas/modificar}" method="post" class="mb-2 w-100"
                                              th:onsubmit="'return guardarOferta(' + ${m.id} + ');'">
                                            <input type="hidden" name="price" th:id="'precio-real-' + ${m.id}" />
                                            <input type="hidden" name="tradableId" th:value="${m.id}" />

                                            <!-- Botón modificar -->
                                            <button type="button"
                                                    th:id="'modificar-btn-' + ${m.id}"
                                                    class="btn btn-warning btn-sm w-100 text-center"
                                                    th:onclick="'activarEdicion(' + ${m.id} + ')'">
                                                Modificar
                                            </button>

                                            <!-- Botón guardar -->
                                            <button type="submit"
                                                    th:id="'guardar-btn-' + ${m.id}"
                                                    class="btn btn-success btn-sm w-100 text-center d-none">
                                                Guardar
                                            </button>
                                        </form>

                                        <!-- Botón retirar -->
                                        <form th:action="@{/ofertas/retirar}" method="post" class="w-100 mt-1">
                                            <input type="hidden" name="price" th:value="${m.miOferta}" />
                                            <input type="hidden" name="tradableId" th:value="${m.id}" />
                                            <button type="submit" class="btn btn-danger btn-sm w-100 text-center">
                                                Retirar
                                            </button>
                                        </form>
                                    </div>
                                    

                                    <!-- SI AÚN NO HE HECHO OFERTA -->
                                    <div th:if="${!m.tieneOferta}">
                                        <form th:action="@{/ofertas/pujar}" method="post" class="mb-2 w-100">
                                            <div class="mb-2">
                                                <input type="text" class="form-control form-control-sm text-end precio-formateado"
                                                    placeholder="€" th:attr="data-valor=${m.recommendedPrice}" />
                                            </div>
                                            <input type="hidden" name="precio" class="precio-real" />
                                            <input type="hidden" name="tradableId" th:value="${m.id}" />
                                            <button type="submit" class="btn btn-success btn-sm w-100 text-center">
                                                Pujar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Modal de información del jugador -->
    <div th:replace="~{fragments/jugadorModal :: jugadorModal}"></div>
    <!-- Inyectamos jugadores desde Thymeleaf en JSON para el Modal -->
    <script th:inline="javascript">
        window.mercado = /*[[${mercadoList}]]*/ [];
    </script>
</div>