<div th:fragment="mercadoFragment">
    <section class="resume-section" id="mercado">
        <div class="resume-section-content">
            <h2 class="mb-3">Mercado de Fichajes</h2>

            <!-- Botones para elegir tipo de vendedor -->
            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de vendedor">
                    <button id="btnMercadoOrdenador" type="button" class="btn btn-success">Ordenador</button>
                    <button id="btnMercadoJugador" type="button" class="btn btn-outline-success">Jugador</button>
                </div>
            </div>

            <!-- Contenedor para mostrar el mercado -->
            <div id="mercadoContainer">
                <!-- Mercado de Ordenador -->
                <div th:if="${#lists.isEmpty(mercadoList)}" id="MercadoOrdenador">
                    <p class="lead mb-5">No hay jugadores en el mercado actualmente.</p>
                </div>
                <div th:if="${!#lists.isEmpty(mercadoList)}" id="MercadoOrdenador">
                    
                    <div th:each="p : ${mercadoList}" th:if="${p.owner == 'Computer'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <img th:src="${p.urlPhoto}" alt="Foto jugador" class="rounded-circle" width="60" height="60" />
                                    <img th:src="${p.urlPhotoClub}" alt="Logo club" class="club-logo" />
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${p.namePlayer}">Nombre del jugador</h5>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Posición:</span>
                                    <span th:text="${p.position}"></span>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Dueño:</span>
                                        <span th:text="${p.owner}"></span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Fin:</span>
                                        <span th:text="${p.remaining} + 'h'"></span>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(p.price, 0, 'POINT')} + ' €'"></span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Oferta mínima:</span>
                                        <span th:text="${#numbers.formatInteger(p.recommendedPrice, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">
                                <form th:action="@{/ofertas/modificar}" method="post" class="mb-2 w-100">
                                    <input type="hidden" name="offerId" th:value="${p.price}" />
                                    <button type="submit" class="btn btn-success btn-sm w-100 text-center">Modificar</button>
                                </form>

                                <form th:action="@{/ofertas/anular}" method="post" class="w-100">
                                    <input type="hidden" name="offerId" th:value="${p.price}" />
                                    <button type="submit" class="btn btn-danger btn-sm w-100 text-center">Anular</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mercado de jugadores -->
                <div th:if="${#lists.isEmpty(mercadoList)}" id="MercadoJugador">
                    <p class="lead mb-5">No hay jugadores en el mercado actualmente.</p>
                </div>
                <div th:if="${!#lists.isEmpty(mercadoList)}" id="MercadoJugador">
                    
                    <div th:each="p : ${mercadoList}" th:if="${p.owner != 'Computer'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <img th:src="${p.urlPhoto}" alt="Foto jugador" class="rounded-circle" width="60" height="60" />
                                    <img th:src="${p.urlPhotoClub}" alt="Logo club" class="club-logo" />
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${p.namePlayer}">Nombre del jugador</h5>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Posición:</span>
                                    <span th:text="${p.position}"></span>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Dueño:</span>
                                        <span th:text="${p.owner}"></span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Fin:</span>
                                        <span th:text="${p.remaining} + 'h'"></span>
                                    </p>
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(p.price, 0, 'POINT')} + ' €'"></span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Oferta mínima:</span>
                                        <span th:text="${#numbers.formatInteger(p.recommendedPrice, 0, 'POINT')} + ' €'"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">
                                <form th:action="@{/ofertas/modificar}" method="post" class="mb-2 w-100">
                                    <input type="hidden" name="offerId" th:value="${p.price}" />
                                    <button type="submit" class="btn btn-success btn-sm w-100 text-center">Modificar</button>
                                </form>

                                <form th:action="@{/ofertas/anular}" method="post" class="w-100">
                                    <input type="hidden" name="offerId" th:value="${p.price}" />
                                    <button type="submit" class="btn btn-danger btn-sm w-100 text-center">Anular</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>