<div th:fragment="ofertasFragment">
    <section class="resume-section" id="ofertas">
        <div class="resume-section-content">
            <h2 class="mb-3">Ofertas</h2>

            <!-- Botones para elegir tipo de ofertas -->
            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de ofertas">
                    <button id="btnOfertasRealizadas" type="button" class="btn btn-success">Realizadas</button>
                    <button id="btnOfertasRecibidas" type="button" class="btn btn-outline-success">Recibidas</button>
                    <button id="btnOfertasPasadas" type="button" class="btn btn-outline-success">Pasadas</button>
                </div>
            </div>

            <!-- Contenedor para mostrar las ofertas -->
            <div id="ofertasContainer">
                <div th:if="${#lists.isEmpty(ofertas)}" id="ofertasRealizadas" class="ofertas-section d-none">
                    <p class="text-white-50">No hay ofertas realizadas.</p>
                </div>
                <div th:if="${not #lists.isEmpty(ofertas)}" id="ofertasRealizadas" class="ofertas-section d-none">
                    <h3 class="text-light">Ofertas realizadas</h3>

                    <div th:each="o : ${ofertas}" th:if="${o.tipoOferta != 'SALE'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <img th:src="${o.fotoJugador}" alt="Foto jugador" class="rounded-circle" width="60" height="60" />
                                    <img th:src="${o.logoClub}" alt="Logo club" class="club-logo" />
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Valor:</span>
                                    <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Ofertado:</span>
                                    <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Estado:</span>
                                    <span th:text="${o.estado}">Pendiente</span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <form th:action="@{/ofertas/anular}" method="post" class="ms-3">
                                <input type="hidden" name="offerId" th:value="${o.id}" />
                                <button type="submit" class="btn btn-sm btn-outline-danger">Anular</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(ofertas)}" id="ofertasRecibidas" class="ofertas-section d-none">
                    <p class="text-white-50">No hay ofertas recibidas.</p>
                </div>
                <div th:if="${not #lists.isEmpty(ofertas)}" id="ofertasRecibidas" class="ofertas-section d-none">
                    <h3 class="text-light">Ofertas recibidas</h3>

                    <div th:each="o : ${ofertas}" th:if="${o.tipoOferta != 'PURCHASE'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center">
                            <!-- Foto del jugador -->
                            <img th:src="${o.fotoJugador}" alt="Foto jugador" class="me-3 rounded-circle" width="60" height="60">

                            <div>
                                <!-- Nombre del jugador -->
                                <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                <!-- Logo del club + nombre -->
                                <div class="d-flex align-items-center mb-1">
                                    <img th:src="${o.logoClub}" alt="Logo club" class="me-2" width="24" height="24">
                                    <span class="text-white-50" th:text="${o.clubName}">Nombre del club</span>
                                </div>

                                <!-- Precio ofertado -->
                                <p class="mb-0 text-white-50">
                                    <span class="label-text">Valor:</span>
                                    <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>
                                    &nbsp;|&nbsp;
                                    <span class="label-text">Ofertado:</span>
                                    <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                </p>

                                <!-- Estado -->
                                <p class="mb-0 text-white-50">
                                    <span class="label-text">Estado:</span>
                                    <span th:text="${o.estado}">Pendiente</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${not #lists.isEmpty(historialOfertas)}" id="ofertasPasadas" class="ofertas-section d-none">
                    <h3 class="text-light">Historial de Ofertas</h3>

                    <div th:each="o : ${historialOfertas}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <img th:src="${o.fotoJugador}" alt="Foto jugador" class="rounded-circle" width="60" height="60" />
                                    <img th:src="${o.logoClub}" alt="Logo club" class="club-logo" />
                                </div>

                                <div>
                                    <!-- Nombre del jugador -->
                                    <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                    <!-- Precio ofertado -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Ofertado:</span>
                                        <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <!-- Estado -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Tipo:</span>
                                        <span th:text="${o.tipoOferta}">-</span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Estado:</span>
                                        <span th:text="${o.estado}">Pendiente</span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Fecha:</span>
                                        <span th:text="${o.fecha}">-</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
</div>