<div th:fragment="ofertasFragment">
    <section class="resume-section" id="ofertas">
        <div class="resume-section-content">
            <h2 class="mb-3 text-center">Ofertas</h2>

            <!-- Botones para elegir tipo de ofertas -->
            <div class="d-flex justify-content-center mb-3">
                <div class="btn-group" role="group" aria-label="Selector de ofertas">
                    <button id="btnOfertasRealizadas" type="button" class="btn btn-success">Realizadas</button>
                    <button id="btnOfertasRecibidas" type="button" class="btn btn-outline-success">Recibidas</button>
                    <button id="btnOfertasPasadas" type="button" class="btn btn-outline-success">Historial</button>
                </div>
            </div>

            <!-- Contenedor para mostrar las ofertas -->
            <div id="ofertasContainer">
                <!-- Ofertas Realizadas -->
                <div th:if="${#lists.isEmpty(ofertas)}" id="ofertasRealizadas" class="ofertas-section d-none">
                    <p class="text-white-50">No hay ofertas realizadas.</p>
                </div>
                <div th:if="${not #lists.isEmpty(ofertas)}" id="ofertasRealizadas" class="ofertas-section d-none">
                    <h3 class="text-light">Ofertas realizadas</h3>

                    <div th:each="o : ${ofertas}" th:if="${o.tipoOferta != 'SALE'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <!-- Imagen del jugador -->
                                    <img th:src="${o.fotoJugador}" th:attr="data-id=${o.id}" alt="Foto jugador" class="rounded-circle fotoOfertas" width="60" height="60" />
                                    
                                    <!-- Logo del club -->
                                    <img th:src="${o.logoClub}" alt="Logo club" class="club-logo" />

                                    <!-- Barra de puntos -->
                                    <div class="player-points">
                                        <span th:text="${o.points}">10</span>
                                    </div>

                                    <!-- Posición -->
                                    <div class="player-position"
                                        th:classappend="' pos-' + ${o.position}">
                                        <span th:text="${o.position}">DF</span>
                                    </div>
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Valor:</span>
                                    <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Ofertado:</span>
                                    <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Estado:</span>
                                    <span th:text="${o.estado}">Pendiente</span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">
                                <form th:action="@{/ofertas/modificar}" method="post" class="mb-2 w-100">
                                    <input type="hidden" name="offerId" th:value="${o.id}" />
                                    <button type="submit" class="btn btn-success btn-sm w-100 text-center">Modificar</button>
                                </form>

                                <form th:action="@{/ofertas/anular}" method="post" class="w-100">
                                    <input type="hidden" name="offerId" th:value="${o.id}" />
                                    <button type="submit" class="btn btn-danger btn-sm w-100 text-center">Anular</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ofertas Recibidas -->
                <div th:if="${#lists.isEmpty(ofertas)}" id="ofertasRecibidas" class="ofertas-section d-none">
                    <p class="text-white-50">No hay ofertas recibidas.</p>
                </div>
                <div th:if="${not #lists.isEmpty(ofertas)}" id="ofertasRecibidas" class="ofertas-section d-none">
                    <h3 class="text-light">Ofertas recibidas</h3>

                    <div th:each="o : ${ofertas}" th:if="${o.tipoOferta != 'PURCHASE'}" class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <!-- Imagen del jugador -->
                                    <img th:src="${o.fotoJugador}" th:attr="data-id=${o.id}" alt="Foto jugador" class="rounded-circle fotoOfertas" width="60" height="60" />
                                    
                                    <!-- Logo del club -->
                                    <img th:src="${o.logoClub}" alt="Logo club" class="club-logo" />

                                    <!-- Barra de puntos -->
                                    <div class="player-points">
                                        <span th:text="${o.points}">10</span>
                                    </div>

                                    <!-- Posición -->
                                    <div class="player-position"
                                        th:classappend="' pos-' + ${o.position}">
                                        <span th:text="${o.position}">DF</span>
                                    </div>
                                </div>

                                <div>
                                    <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Valor:</span>
                                    <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Ofertado:</span>
                                    <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <p class="mb-0 text-white-50">
                                    <span class="label-text">Estado:</span>
                                    <span th:text="${o.estado}">Pendiente</span>
                                    </p>
                                </div>
                            </div>
                            <!-- Botón a la derecha -->
                            <div class="d-flex flex-column align-items-end ms-3">
                                <form th:action="@{/ofertas/aceptar}" method="post" class="mb-2 w-100">
                                    <input type="hidden" name="tradableId" th:value="${o.idPlayer}" />
                                    <input type="hidden" name="price" th:value="${o.precio}" />
                                    <button type="submit" class="btn btn-success btn-sm w-100 text-center">Aceptar</button>
                                </form>

                                <form th:action="@{/ofertas/rechazar}" method="post" class="w-100">
                                    <input type="hidden" name="tradableId" th:value="${o.idPlayer}" />
                                    <input type="hidden" name="price" th:value="${o.precio}" />
                                    <button type="submit" class="btn btn-danger btn-sm w-100 text-center">Rechazar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Historial de Ofertas -->
                <div th:if="${not #lists.isEmpty(historialOfertas)}" id="ofertasPasadas" class="ofertas-section d-none">
                    <h3 class="text-light">Historial de Ofertas</h3>

                    <div th:each="o, iterStat : ${historialOfertas}" 
                    th:classappend="${iterStat.index >= 3} ? 'd-none extra-oferta' : ''"
                    class="mb-4 border-bottom border-light pb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Contenido de la izquierda -->
                            <div class="d-flex align-items-center">
                                <div class="photo-logo-wrapper me-3" style="position: relative; width: 60px; height: 60px;">
                                    <!-- Imagen del jugador -->
                                    <img th:src="${o.fotoJugador}" th:attr="data-id=${o.id}" alt="Foto jugador" class="rounded-circle fotoHistorialOfertas" width="60" height="60" />
                                    
                                    <!-- Logo del club -->
                                    <img th:src="${o.logoClub}" alt="Logo club" class="club-logo" />

                                    <!-- Barra de puntos -->
                                    <div class="player-points">
                                        <span th:text="${o.points}">10</span>
                                    </div>

                                    <!-- Posición -->
                                    <div class="player-position"
                                        th:classappend="' pos-' + ${o.position}">
                                        <span th:text="${o.position}">DF</span>
                                    </div>
                                </div>

                                <div>
                                    <!-- Nombre del jugador -->
                                    <h5 class="text-light mb-1" th:text="${o.name}">Nombre del jugador</h5>

                                    <!-- Valor del jugador -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Valor:</span>
                                        <span th:text="${#numbers.formatInteger(o.valor, 0, 'POINT')} + ' €'">0 €</span>

                                    </p>
                                    <!-- Precio ofertado -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Ofertado:</span>
                                        <span th:text="${#numbers.formatInteger(o.precio, 0, 'POINT')} + ' €'">0 €</span>
                                    </p>

                                    <!-- Estado y Tipo de transaccion -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Estado:</span>
                                        <span th:text="${o.estado}">Pendiente</span>
                                        &nbsp;|&nbsp;
                                        <span class="label-text">Tipo:</span>
                                        <span th:text="${o.tipoOferta}">-</span>
                                    </p>
                                    <!-- Fecha -->
                                    <p class="mb-0 text-white-50">
                                        <span class="label-text">Fecha:</span>
                                        <span th:text="${o.fecha}">-</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-outline-light btn-sm" id="toggleMercadoBtn" onclick="toggleMercado()">Mostrar Anteriores</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Modal de información del jugador -->
    <div th:replace="~{fragments/jugadorModal :: jugadorModal}"></div>
    <!-- Inyectamos jugadores desde Thymeleaf en JSON para el Modal -->
    <script th:inline="javascript">
        window.ofertas = /*[[${ofertas}]]*/ [];
        window.historialOfertas = /*[[${historialOfertas}]]*/ [];
    </script>
    <!-- JS -->
    <script th:src="@{/js/scriptOfertas.js}"></script>
</div>