<!-- plantillaUsuarioModal.html -->
<div th:fragment="plantillaUsuarioModal">
    <div class="modal fade" id="plantillaUsuario" tabindex="-1" aria-labelledby="plantillaUsuarioLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark text-white p-3 text-center">
                <!-- Nombre -->
                <div class="mb-2">
                    <h3 class="text-success fs-2">Alineación</h3>
                    <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3 " data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                <div class="modal-body" id="plantillaUsuarioBody">
                    <div class="table-responsive">
                        <table class="table text-white">
                            <thead>
                                <tr class="text-success">
                                    <th>Posición</th>
                                    <th class="ocultar-portrait">Foto</th>
                                    <th>Nombre</th>
                                    <th>Club</th>
                                    <th>Puntos</th>
                                </tr>
                            </thead>
                            <tbody id="tablaPlantilla">
                                <!-- Aquí van los jugadores -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>