html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 600 16px/18px 'Open Sans', sans-serif;
  color: #fff;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.card {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 700px;
  padding: 40px;
  box-sizing: border-box;
  border: none;
}

.login-space .group {
  margin-bottom: 15px;
}

.group .label,
.group .input,
.group .button {
  width: 100%;
  display: block;
  color: #fff;
}

.group .label {
  font-size: 14px;
  color: #198754;
  margin-bottom: 5px;
}

.group .input,
.group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255,255,255,.1);
}

.group input[type="password"] {
  text-security: circle;
  -webkit-text-security: circle;
}

.group .button {
  background: #198754;
  text-transform: uppercase;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #198754;
}

.group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  display: inline-block;
  background: rgba(255,255,255,.1);
  position: relative;
}

.group label .icon:before,
.group label .icon:after {
  content: '';
  position: absolute;
  background: #fff;
  transition: all .2s ease-in-out;
}

.group label .icon:before {
  width: 5px;
  height: 2px;
  left: 3px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.group label .icon:after {
  width: 10px;
  height: 2px;
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.check:checked + label .icon {
  background: #198754;
}

.check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.hr {
  height: 2px;
  margin: 40px 0 30px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot {
  text-align: center;
  color: white;
  font-size: 14px;
}

::placeholder {
  color: #b3b3b3;
}

input.check {
  display: none;
}

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: center;
}

.custom-modal-title {
  color: #c0392b;
  margin-bottom: 1rem;
}

.custom-modal-message {
  margin: 1rem 0;
}

.custom-modal-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #198754;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.custom-modal-button:hover {
  background-color: #198754;
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .card {
    padding: 20px;
    max-width: 90%;
  }

  .title {
    font-size: 24px;
  }
}

.title{
  text-align: center;
  padding-bottom: 20px;
}

.logo {
  width: 200px;
  height: 200px;
}
