<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Página de Estadisticas" />
        <meta name="author" content="Enrique Muñoz" />
        <title>Estadísticas</title>
        <link rel="icon" type="image/x-icon" th:href="@{/assets/logoOriginal.png}"/>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- CSS principal -->
        <link rel="stylesheet" th:href="@{/css/stylesEstadisticas.css}">
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    </head>

    <body id="page-top">

        <!-- Navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNavEstadisticas">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none" id="saldoMovil" 
                        th:text="'Saldo: ' + ${#numbers.formatInteger(userInfo.budget, 0, 'POINT')} + '€'" >
                </span>
                <div class="d-none d-lg-block position-relative d-inline-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                        th:src="@{/assets/logoOriginal.png}"
                        alt="Logo Comunio" />
                    <a th:href="@{/main}" class="stretched-link"></a>
                </div>            
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#navbarResponsiveEstadisticas" 
                    aria-controls="navbarResponsiveEstadisticas" 
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsiveEstadisticas">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#jugadoresEstadisticas">Jugadores</a></li>
                    <li class="nav-item"><a class="nav-link" href="#calendarioJornada">Calendario Jornada</a></li>
                    <li class="nav-item"><a class="nav-link" href="#clasificacionLaLiga">Clasificación La Liga</a></li>
                    <li class="nav-item"><a class="nav-link" href="#calendarioLaLiga">Calendario La Liga</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/main}">Volver</a></li>
                </ul>
            </div>
            
            <!-- Presupuesto fijo en la barra lateral -->
            <div class="d-none d-lg-block budget-fixed text-center text-white small">
                <span th:text="'Saldo: ' + ${#numbers.formatInteger(userInfo.budget, 0, 'POINT')} + '€'"></span>
            </div>
        </nav>
        
        <!-- Contenido de la Pagina-->
         <main class="container-fluid p-0">
            <!-- Jugadores -->
            <section th:replace="~{fragments/jugadoresEstadisticas :: jugadoresEstadisticasFragment}"></section>
            <hr class="m-0" />
            <!-- Calendario Jornada -->
            <section th:replace="~{fragments/calendarioJornada :: calendarioJornadaFragment}"></section>
            <hr class="m-0" />
            <!-- Clasificacion La Liga -->
            <section th:replace="~{fragments/clasificacionLaLiga :: clasificacionLaLigaFragment}"></section>
            <hr class="m-0" />
            <!-- Calendario La Liga -->
            <section th:replace="~{fragments/calendarioLaLiga :: calendarioLaLigaFragment}"></section>
        </main>

        <!-- Mensaje Pop-Up -->
        <div th:replace="~{fragments/modal :: mensajeModal}"></div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <!-- JS -->
        <script th:src="@{/js/scriptEstadisticas.js}"></script>
    </body>
</html>
