<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Página de Estadisticas" />
        <meta name="author" content="Enrique Muñoz" />
        <title>Estadísticas</title>
        <link rel="icon" type="image/x-icon" href="assets/logoOriginal.png" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" th:href="@{/css/stylesEstadisticas.css}">
        <!-- Bootstrap icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    </head>
    <body id="page-top">
        <!-- Navegacion -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNavEstadisticas">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none" th:text="'Saldo: ' + ${userInfo.budget + '€'} " ></span>
<div class="d-none d-lg-block position-relative d-inline-block">
  <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
       src="/assets/logoJujas.png"
       alt="Logo Jujas" />
  <a href="/main" class="stretched-link"></a>
</div>            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsiveEstadisticas">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#jugadoresEstadisticas">Jugadores</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#calendarioLaLiga">Calendario La Liga</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#clasificacionLaLiga">Clasificación La Liga</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#calendarioJornada">Calendario Jornada</a></li>
                    <!-- <li class="nav-item" th:if="${userInfo.isLeader == true}"><a class="nav-link js-scroll-trigger" href="#administracion">Administracion</a></li> -->
                </ul>
            </div>
            <!-- Presupuesto fijo en la barra lateral -->
            <div class="d-none d-lg-block budget-fixed text-center text-white small">
                <span th:text="'Saldo: ' + ${userInfo.budget} + ' €'"></span>
            </div>
        </nav>
        <!-- Contenido de la Pagina-->
        <div class="container-fluid p-0">

            <!-- Jugadores -->
            <div class="container-fluid p-0">
                <div th:replace="fragments/jugadoresEstadisticas :: jugadoresEstadisticasFragment"></div>
                <hr class="m-0" />
            </div>

            <!-- Calendario La Liga -->
            <div class="container-fluid p-0">
                <div th:replace="fragments/calendarioLaLiga :: calendarioLaLigaFragment"></div>
                <hr class="m-0" />
            </div>

            <!-- Calendario La Liga -->
            <div class="container-fluid p-0">
                <div th:replace="fragments/clasificacionLaLiga :: clasificacionLaLigaFragment"></div>
                <hr class="m-0" />
            </div>

            <!-- Calendario La Liga -->
            <div class="container-fluid p-0">
                <div th:replace="fragments/calendarioJornada :: calendarioJornadaFragment"></div>
                <hr class="m-0" />
            </div>
            
            <!-- Mensaje Pop-Up -->
            <div th:replace="~{fragments/modal :: mensajeModal}"></div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scriptEstadisticas.js"></script>
        <script src="/js/scriptClasificacionLaLiga.js"></script>
    </body>
</html>
