<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:replace="~{layout/base :: content}">
    <section class="resume-section" id="acerca_de">
        <div class="resume-section-content">
            <h1 class="mb-0">Comunio App</h1>
            <div class="subheading mb-5">Tu app para gestionar Comunio desde Spring Boot</div>
            <p class="lead mb-5">Esta aplicación permite acceder a tu perfil, comunidades, mercado y más, utilizando la API no oficial de Comunio.</p>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </section>
</html>
